.btn {
  @include font(12px, 14px, 700);
  display: inline-block;
  align-self: center;
  vertical-align: middle;
  font-family: $base-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  color: $main-color;
  border: 4px solid $main-color;
  // cursor: pointer;
}

@media (max-width: $tablet-width) {
  .btn {
    @include font(10px, 12px, 700);
    border-width: 2px;
  }
}
