.first-screen__body {
  max-width: 1366px;
  padding: 0 103px 51px;
  margin: 0 auto;
}

.first-screen__header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.first-screen__logo {
  width: 89px;
  height: 20px;
}

.first-screen__tel a {
  @include font(26px, 26px, 400);
  display: inline-block;
  vertical-align: baseline;
  font-family: $addition-font;
  letter-spacing: 0.03em;
  color: $main-color;
}

.first-screen__info {
  display: flex;
}

.first-screen__text {
  display: flex;
  flex-direction: column;
  max-width: 397px;
  padding-top: 117px;
  text-align: right;
  color: $main-color;
}

.first-screen__text span {
  @include font(49px, 49px, 400);
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: baseline;
  font-family: $addition-font;
  text-transform: uppercase;
}

.first-screen__text h1 {
  @include reset-list();
  @include font(109px, 109px, 700);
  margin-bottom: 52px;
  font-family: $addition-font;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $main-color;
}

.first-screen__list {
  @include reset-list();
  @include font(14px, 21px, 400);
  position: absolute;
  text-align: right;
  color: $main-color;
  top: 356px;
  left: 122px;
}

.first-screen__btn {
  padding: 19.5px 53px;
  margin-left: auto;
}

.first-screen__img {
  max-width: 500px;
  margin-top: -5px;
  margin-left: 63px;
}

.first-screen__img img {
  display: block;
  width: 500px;
  height: auto;
}

@media (max-width: $tablet-width) {
  .first-screen__body {
    padding: 0 45px;
  }

  .first-screen__header {
    padding-top: 40px;
  }

  .first-screen__logo {
    width: 82px;
    height: 17px;
  }

  .first-screen__tel a {
    @include font(24px, 24px, 400);
  }

  .first-screen__info {
    padding-top: 25px;
  }

  .first-screen__text {
    max-width: 323px;
    padding-top: 49px;
  }

  .first-screen__text span {
    @include font(34px, 34px, 400);
    margin-bottom: 7px;
  }

  .first-screen__text h1 {
    @include font(86px, 86px, 700);
    margin-bottom: 36px;
  }

  .first-screen__list {
    top: 269px;
    left: 46px;
  }

  .first-screen__btn {
    padding: 20px 29px;
  }

  .first-screen__img {
    width: 324px;
    margin-top: -7px;
    margin-left: 31px;
  }

  .first-screen__img img {
    width: 100%;
    height: 390px;
  }
}

@media (max-width: $mobile-width) {
  .first-screen__body {
    padding: 0 15px;
  }

  .first-screen__header {
    padding-top: 20px;
  }

  .first-screen__logo {
    width: 68px;
    height: 15px;
  }

  .first-screen__tel a {
    @include font(20px, 20px, 400);
  }

  .first-screen__info {
    padding-top: 0;
  }

  .first-screen__text {
    max-width: 100%;
    padding-top: 73px;
  }

  .first-screen__text span {
    @include font(28px, 28px, 400);
    margin-bottom: 13px;
  }

  .first-screen__text h1 {
    @include font(78px, 78px, 700);
    margin-bottom: 38px;
  }

  .first-screen__list {
    top: 234px;
    left: 15px;
  }

  .first-screen__btn {
    width: 100%;
    padding: 20px 82px;
  }

  .first-screen__img {
    display: none;
  }
}
