.footer__body {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  padding: 44px 103px;
  margin: 0 auto;
  background-color: $footer-color;
}

.footer__logo {
  display: block;
  width: 89px;
  height: 20px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__nav ul {
  @include reset-list();
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
}

.footer__nav li {
  max-width: 431px;
  margin-right: 40px;

}

.footer__nav li:last-child {
  margin-right: 0;
}

.footer__nav a {
  @include font(14px, 16px);
  color: $main-color;
}

.footer__social ul {
  @include reset-list();
  display: flex;
  min-width: 110px;
}

.footer__social li:not(:last-child) {
  margin-right: 25px;
}

@media (max-width: $tablet-width) {
  .footer__body {
    max-width: 768px;
    padding: 55px 45px 51px 45px;
  }

  .footer__logo {
    width: 82px;
    height: 18px;
  }

  .footer__nav ul {
    margin-left: 2%;
  }

  .footer__nav li {
    margin-right: 31px;
  }

  .footer__social ul {
    @include reset-list();
    display: flex;
    min-width: 100px;
  }

  .footer__social li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .footer__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // max-width: 320px;
    padding: 50px 15px;
    margin: 0 auto;
    background-color: $footer-color;
  }

  .footer__logo {
    position: absolute;
    width: 68px;
    height: 15px;
    margin-bottom: 28px;
  }

  .footer__nav {

    column-count: 2;
    display: block;
    margin-top: 60px;

  }

  .footer__nav ul {
    display: block;
  //  column-count: 2;
    margin-left: 2%;
  }

  .footer__nav li {
    display: inline-block;
    margin-top: -20px;
    max-width: 431px;
    margin-right: 40px;
    margin-bottom: 30px;

  }

  .footer__nav a {
    @include font(16px, 19px);
  }

  .footer__social ul {
    min-width: 143px;
  }

  .footer__social li:not(:last-child) {
    margin-right: 35px;
  }
}
