.footer {
  background-color: $footer-color;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  padding: 43px 103px 34px;
  margin: 0 auto;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 68.5%;
}

.footer__logo-wrap {
  align-self: center;
  width: 10%;
  height: auto;
  margin-right: 10%;
}

.footer__logo {
  display: block;
  width: 89px;
  height: 20px;
}

.footer__nav ul {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
}

.footer__nav li {
  align-items: center;
  max-width: 431px;
  margin-right: 40px;
}

.footer__nav li:last-child {
  margin-right: 0;
}

.footer__nav ul a {
  @include font(14px, 16px);
  display: inline-block;
  vertical-align: baseline;
  color: $main-color;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.4;
    outline: $outline;
    outline-offset: 6px;
  }
}

.footer__social ul {
  @include reset-list();
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 15%;
}

.footer__social li:not(:last-child) {
  margin-right: 25px;
}

.footer__social a {
  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.4;
    outline: $outline;
    outline-offset: 4px;
  }
}

@media (max-width: $tablet-width) {
  .footer__body {
    max-width: 768px;
    padding: 45px 45px 39px 45px;
  }

  .footer__logo-wrap {
    margin-right: 3%;
  }

  .footer__logo {
    width: 82px;
    height: 18px;
  }

  .footer__nav {
    width: 78.5%;
  }

  .footer__nav ul {
    margin-left: 8%;
  }

  .footer__nav li {
    margin-right: 30px;
  }

  .footer__social li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .footer__body {
    flex-direction: column;
    max-width: 320px;
    padding: 47px 10px 44px;
  }

  .footer__logo-wrap {
    width: 68px;
    margin-right: auto;
    margin-left: 5px;
  }

  .footer__logo {
    width: 68px;
    height: 15px;
  }

  .footer__nav {
    flex-direction: column;
    width: 100%;
  }

  .footer__nav ul {
    display: block;
    column-count: 2;
    margin-left: 3%;
    margin-top: -20px;
  }

  .footer__nav li {
    margin-top: 18px;
  }

  .footer__nav li:first-child {
    padding-top: 20px;
  }

  .footer__nav a {
    @include font(16px, 19px);
  }

  .footer__social {
    margin-right: auto;
    margin-left: 5px;
  }

  .footer__social ul {
    align-items: center;
    min-width: 143px;
    margin-top: 23px;
  }

  .footer__social-icon--vk {
    width: 32px;
    height: 17px;
  }

  .footer__social-icon--instagram {
    width: 27px;
    height: 27px;
  }

  .footer__social-icon--facebook {
    width: 14px;
    height: 27px;
  }

  .footer__social li:not(:last-child) {
    margin-right: 35px;
  }
}
