.inner-background {
  min-height: 658px;
  background-color: $red;
  background-image: url("../img/background-desktop@1x.webp"), url("../img/background-desktop@1x.jpg");
  background-size: 100% 658px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-desktop@2x.webp"), url("../img/background-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .inner-background {
    min-height: 554px;
    background-image: url("../img/background-tablet@1x.webp"), url("../img/background-tablet@1x.jpg");
    background-size: 100% 554px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-tablet@2x.webp"), url("../img/background-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .inner-background {
    min-height: 491px;
    background-image: url("../img/background-mobile@1x.webp"), url("../img/background-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-mobile@2x.webp"), url("../img/background-mobile@2x.jpg");
    }
  }
}
