.page-header__body {
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;
}

.page-header__main {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.page-header__logo {
  width: 89px;
  height: 20px;
}

.page-header__tel a {
  @include font(26px, 26px);
  display: inline-block;
  vertical-align: baseline;
  margin-left: 15px;
  font-family: $addition-font;
  letter-spacing: 0.03em;
  color: $main-color;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.4;
    outline: 3px solid #00359f;
    outline-offset: 4px;
  }
}

@media (max-width: $tablet-width) {
  .page-header__body {
    max-width: 768px;
    padding: 0 45px;
  }

  .page-header__main {
    padding-top: 40px;
  }

  .page-header__logo {
    width: 82px;
    height: 17px;
  }

  .page-header__tel a {
    @include font(24px, 24px);
  }
}

@media (max-width: $mobile-width) {
  .page-header__body {
    padding: 0 15px;
  }

  .page-header__header {
    padding-top: 20px;
  }

  .page-header__logo {
    width: 68px;
    height: 15px;
  }

  .page-header__tel a {
    @include font(20px, 20px);
  }
}
