.promo__body {
  max-width: 1160px;
  padding: 120px 0;
  margin: 0 auto;
}

.promo h2 {
  margin-bottom: 50px;
  text-align: center;
}

.promo__main-info {
  display: flex;
  width: 100%;
}

.promo__info {
  display: flex;
  width: calc(50% - 15px);
  margin-right: 3.5%;
}

.promo__text {
  width: 50%;
  padding: 7% 7% 7% 8%;
  background-color: #ed0223;
}

.promo__text h3 {
  @include reset-list();
  @include font(28px, 44px, 700);
  color: $main-color;
}

.promo__text span {
  @include font(70px, 53px, 700);
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 27px;
  color: $main-color;
}

.promo__text p {
  @include reset-list();
  @include font(18px, 25px);
  max-width: 189px;
  margin-bottom: 187px;
  text-align: left;
  color: $main-color;
}

.promo__text a {
  @include font(14px, 16px);
  display: inline-block;
  vertical-align: baseline;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $main-color;
  border-bottom: 1px solid $main-color;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.4;
    outline: 3px solid $red;
    outline-offset: 4px;
  }
}

.promo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.promo__img img {
  display: block;
  width: 280px;
  height: 100%;
  object-fit: cover;
}

.promo__details {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.promo__offer {
  min-height: 211px;
  padding: 13px 27px;
  border: 7px solid;
  border-image: linear-gradient(170deg, #d10a42 15%, #00359f 100%);
  border-image-slice: 1;
}

.promo__offer:not(:last-child) {
  margin-bottom: 40px;
}

.promo__offer h3 {
  @include reset-list();
  @include font(26px, 50px, 700);
}


.promo__offer p {
  @include reset-list();
  margin: 0 0 65px 0;
}


.promo__offer a {
  @include font(12px, 14px, 700);
  position: relative;
  display: inline;
  margin-bottom: 38px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $text;

  &::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 0;
    z-index: 10;

    width: 69px;
    height: 1px;

    background-color: $text;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.4;
    outline: 3px solid $red;
    outline-offset: 4px;
  }
}

@media (max-width: $tablet-width) {
  .promo__body {
    width: 768px;
    padding: 100px 45px;
  }

  .promo h2 {
    margin-bottom: 39px;
  }

  .promo__main-info {
    flex-direction: column;
  }

  .promo__info {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .promo__text {
    width: 41.1%;
    padding: 5% 6.5%;
  }

  .promo__text h3 {
    line-height: 48px;
  }

  .promo__img img {
    width: 399px;
  }

  .promo__details {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .promo__offer {
    width: 324px;
  }

  .promo__offer:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .promo__offer:not(:last-child) {
    margin-bottom: 0;
  }

  .promo__offer h3 {
    line-height: 48px;
  }

  .promo__offer p {
    margin-bottom: 66px;
  }

  .promo__offer--free p {
    max-width: 153px;
    margin-bottom: 44px;
  }
}

@media (max-width: $mobile-width) {
  .promo__body {
    width: 320px;
    padding: 70px 15px 41px;
  }

  .promo h2 {
    margin-bottom: 41px;
  }

  .promo__main-info {
    flex-direction: column;
  }

  .promo__info {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .promo__text {
    width: 100%;
    text-align: center;
    padding: 35px 0 45px;
  }

  .promo__text h3 {
    line-height: 44px;
  }

  .promo__text p {
    text-align: center;
    margin: 0 auto 28px;
  }

  .promo__text span {
    margin-bottom: 22px;
  }

  .promo__img img {
    width: 290px;
  }

  .promo__details {
    flex-direction: column;
  }

  .promo__offer {
    width: 290px;
    padding: 24px 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .promo__offer:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .promo__offer:not(:last-child) {
    margin-bottom: 30px;
  }

  .promo__offer h3 {
    margin-bottom: 2px;
    line-height: 46px;
  }

  .promo__offer p {
    max-width: 159px;
    margin: 0 auto;
    margin-bottom: 21px;
    text-align: center;
  }

  .promo__offer--free p {
    margin: 0 auto 21px;
  }

  .promo__offer a {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
