.social {
  @include reset-list();
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  margin-bottom: 43px;
  text-align: right;
}

.social li:not(:first-child) {
  padding-top: 8px;
}

.social__icon--facebook {
  width: 13px;
  height: 9px;
}

.social__icon--vk {
  width: 14px;
  height: 9px;
}

.social__icon--instagram {
  width: 13px;
  height: 9px;

}

@media (max-width: $tablet-width) {
  .social{
    display: none;
  }
}
