@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/robotocondensed-light.woff2") format("woff2"),
    url("../fonts/robotocondensed-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed.woff2") format("woff2"),
    url("../fonts/roboto-condensed.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2"),
    url("../fonts/robotocondensed-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "BebasNeue";
  font-display: swap;
  src: url("../fonts/bebasneue-regular.woff2") format("woff2"),
    url("../fonts/bebasneue-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "BebasNeue";
  font-display: swap;
  src: url("../fonts/bebasneue-bold.woff2") format("woff2"),
    url("../fonts/bebasneue-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
