$mobile-width: 767px;
$tablet-width: 1199px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$base-font: "Roboto Condensed", "Arial", sans-serif;
$addition-font: "BebasNeue", "Verdana", sans-serif;

$white: #ffffff;
$dark-blue: #102654;
$black: #030A1A;
$bright-blue: #2E35AC;
$blue:#1C3374;
$grey: #74819C;
$medium-blue: rgba(20, 54, 122, 0.5);

$main-color: $white;
$base-text-color: $dark-blue;
$footer-color: $black;
$shadow: $medium-blue;
$decor: $bright-blue;
$text: $blue;
$line: $grey;

