$mobile-width: 767px;
$tablet-width: 1199px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$base-font: "Roboto Condensed", "Arial", sans-serif;
$addition-font: "BebasNeue", "Verdana", sans-serif;

$white: #ffffff;
$dark-blue: #102654;
$black: #030a1a;
$bright-blue: #2e35ac;
$blue:#1c3374;
$grey: #74819c;
$grey-light: #ebebeb;
$medium-blue: rgba(20, 54, 122, 0.5);
$white-light: #f8f9fc;
$red: #d10a42;

$main-color: $white;
$base-text-color: $dark-blue;
$footer-color: $black;
$shadow: $medium-blue;
$decor: $bright-blue;
$text: $blue;
$line: $grey;
$price: $grey-light;
$background: $white-light;
$outline: 2px solid $red;
